name: Deploy AWS Lambda

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ContinuousIntegrationEnv: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::481665083094:role/hrabot-deploy
          aws-region: us-east-1

      - name: Install Lambda Tools
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Generate api clients
        run: |
          chmod +x scripts/client-gen.sh
          ./scripts/client-gen.sh

      - name: Restore and Build
        run: dotnet build -c Release

      - name: Install playwright deps
        run: npx playwright install --with-deps --only-shell chromium

      - name: Trust https certs
        run: dotnet dev-certs https --trust

      - name: Test
        run: dotnet test -c Release --no-build

      - name: Deploy Lambda
        working-directory: src/HraBot.Core
        run: |
          dotnet lambda deploy-serverless \
            --stack-name MyLambdaStack \
            --s3-bucket hra-bot-lambdas \
            --region us-east-2 \
            --template serverless.template
